<link rel="stylesheet" href="/static/style.css" type="text/css">
<style>
body {
    background-color: white;
}
</style>
<form action="/login_history" method="POST">
    {{ form.csrf_token }}
    {{ form.name }}
    <div class="admin-menu">
        <span>
            <input id=userid type="text" class="login-field" placeholder="Username" name="username">
            <input type="submit" name="click" value="Submit" class="btn btn-primary btn-small btn-block">
        </span>
    </div>
    
    <div class="app-title">
    <h1>Spell Checker Login History for {{ user }}</h1>
        {% if History %}
            <div class=spell-checker-results>
                {% for log in History %}
                    {% if log[2] is not none %}
                        {% set logout = log[2] %}
                    {% else %}
                        {% set logout = "N/A" %}
                    {% endif %}

                    <li id="login{{ log[0] }}">
                        <h> {{ log[0] }}, </h>
                        <h id="login{{ log[0] }}_time"> {{ log[1] }} </h>,
                        <h id="logout{{ log[0] }}_time"> {{ logout }} </h>
                    </li>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</form>
